.element {
  padding: 6px;
}

.content {
  border: 2px solid #888888;
  border-radius: 7px;
  min-height: 35px;
  max-height: calc(100vh - 8px);
  min-width: 35px;
  max-width: 460px;
  float: left;
  background-color: white;
  overflow: auto;
}

.menu-content {
  position: relative;
  overflow: auto;
  height: calc(100vh - 12px);
  max-width: 460px;

  @media (min-width: 1280px) {
    display: block !important;
    width: 460px;
  }

  &.v-enter-active,
  &.v-leave-active {
    transition: all 0.5s ease;
    overflow: hidden;
    max-width: 460px;
    height: calc(100vh - 12px);
    opacity: 1;
  }

  &.v-enter-from,
  &.v-leave-to {
    overflow: hidden;
    max-width: 35px;
    height: 35px;
    opacity: 0;
  }
}

.burger {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 25px;
  height: 25px;
  background-color: white;

  @media (min-width: 1280px) {
    display: none !important;
  }

  img {
    width: 25px;
  }
  opacity: 1;

  &.v-enter-active,
  &.v-leave-active {
    transition: opacity 0.5s linear;
    opacity: 1;
  }

  &.v-enter-from,
  &.v-leave-to {
    transition: opacity 0.5s linear;
    opacity: 0;
  }
}
