.content {
  display: flex;
  flex-direction: row;
  border: 2px solid #888888;
  border-radius: 7px;
  min-height: 35px;
  max-height: calc(100vh - 8px);
  min-width: 35px;
  max-width: 530px;
  float: left;
  background-color: white;
  overflow: auto;
}

.menu-content {
  overflow: auto;
  height: calc(100vh - 12px);
  max-width: 495px;

  @media (min-width: 1280px) {
    display: block !important;
    width: 460px;
  }

  &.v-enter-active,
  &.v-leave-active {
    transition: all 0.5s ease;
    overflow: hidden;
    max-width: 495px;
    height: calc(100vh - 12px);
    opacity: 1;
  }

  &.v-enter-from,
  &.v-leave-to {
    overflow: hidden;
    max-width: 0;
    height: 35px;
    opacity: 0;
  }
}

.element {
  padding: 6px;
}

.burger {
  width: 35px;
  min-height: 25px;
  background-color: #dddddd;

  @media (min-width: 1280px) {
    display: none !important;
  }

  img {
    width: 25px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
