.form-widget {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.widget-input {
  margin-left: auto;
  min-width: 185px;
}

.widget-value {
  display: block;
  width: 30px;
  text-align: right;
}

.input-error {
  color: red;
}
