.c__form {
  &__widget {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

    &__label {
    }

    &__input {
      margin-left: auto;
      min-width: 185px;
    }

    &__value {
      display: block;
      width: 30px;
      text-align: right;
    }
  }
}
