.form-widget {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.widget-label {
  margin: 5px auto;
}

.widget-input {
  &--with-value {
    display: flex;
    flex-direction: row;
  }

  flex: 9 1 auto;
}

.widget-value {
  flex: 1 1 auto;
  text-align: right;
  width: 30px;
}

.input-error {
  color: red;
}
