.hg__content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f7f7f7;

  &__panel {
    border: 2px solid #888888;
    margin: 2px;
    padding: 2px;

    &--left {
      width: 27%;
      min-width: 476px;
    }

    &--right {
      width: 80%;
      background-color: #eeeeee;
      overflow: auto;
    }

    &__element {
      padding: 6px;
    }
  }
}
