.map-display {
  border: 2px solid #888888;
  border-radius: 7px;
  overflow: auto;
  width: calc(100vw - 12px);
  height: calc(100vh - 12px);
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: start start;

  & > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  @media (min-width: 1280px) {
    margin-left: 462px;
    width: calc(100vw - 474px);
  }
}

.grid-content {
  display: flex;
  flex-direction: row;
}

.grid-tile {
  border-width: 0 1px 1px 0;
  border-color: #888888;
  border-style: ridge;
  box-sizing: border-box;
  opacity: 0.65;
  display: grid;
  place-items: center center;

  span {
    padding: 0;
    margin: 0;
  }

  .high {
    color: #d50000;
  }

  .moderate {
    color: #07b3ff;
  }
}
