.map-display {
  border: 2px solid #888888;
  border-radius: 7px;
  overflow: auto;
  width: calc(100vw - 12px);
  height: calc(100vh - 12px);

  @media (min-width: 1280px) {
    margin-left: 462px;
    width: calc(100vw - 474px);
  }
}
